<nav>
  <span class="name"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></span>
  <div class="nav-right">
    <ul>
      <li><a href="{{ '/' | relative_url }}"{% if page.url == '/' or page.url == '/index.html' %} aria-current="page"{% endif %}>about</a></li>
      <li><a href="{{ '/research.html' | relative_url }}"{% if page.url == '/research.html' %} aria-current="page"{% endif %}>research</a></li>
      <li><a href="{{ '/publications.html' | relative_url }}"{% if page.url == '/publications.html' %} aria-current="page"{% endif %}>publications</a></li>
      <li><a href="{{ '/cv.html' | relative_url }}"{% if page.url == '/cv.html' %} aria-current="page"{% endif %}>cv</a></li>
    </ul>
  </div>
</nav>
